.img {
  width: 30vw;
  height: 72vh;
  position: absolute;
  top: 55%;
  left: 50%;
  border-radius: 2%;
  transition: 500ms;
}

#photo1 {
  background: url(../media/hybride1.png);
  background-size: cover;
  background-position: center;
}

#photo2 {
  background: url(../media/hybride2.png);
  background-size: cover;
  background-position: center;
}

#photo3 {
  background: url(../media/hybride3.png);
  background-size: cover;
  background-position: center;
}

#photo4 {
  background: url(../media/hybride4.png);
  background-size: cover;
  background-position: center;
}

#photo5 {
  background: url(../media/hybride5.png);
  background-size: cover;
  background-position: center;
}

.contentCard {
  height: 90%;
  width: 100%;
  background-color: #feebe7;
  display: grid;
  grid-template-columns: [a]1fr [b]1fr [c]1fr [d]1fr [e]1fr [f]1fr [g]1fr [h]1fr [i];
  grid-template-rows: [a]1fr [b]1fr [c];
}

.left {
  grid-column: c / d;
  grid-row: a / c;
  align-self: center;
  justify-self: center;
  width: 2vw;
  height: auto;
  z-index: 50;
  fill: salmon;
  transition: 1000ms;
  cursor: pointer;
}

.right {
  grid-column: f / g;
  grid-row: a / c;
  align-self: center;
  justify-self: center;
  width: 2vw;
  height: auto;
  z-index: 50;
  fill: salmon;
  transition: 1000ms;
  cursor: pointer;
}

.droite4 {
  transform: translate(-175%, -38%) rotateZ(-31deg) scale(0.6);
  z-index: 1;
}

.droite3 {
  transform: translate(-150%, -45%) rotateZ(-25deg) scale(0.7);
  z-index: 3;
}

.droite2 {
  transform: translate(-120%, -49%) rotateZ(-15deg) scale(0.8);
  z-index: 5;
}

.droite1 {
  transform: translate(-90%, -50%) rotateZ(-6deg) scale(0.9);
  z-index: 10;
}

.centre {
  transform: translate(-50%, -50%) rotateZ(0deg) scale(1);
  z-index: 20;
}

.gauche1 {
  transform: translate(-10%, -50%) rotateZ(6deg) scale(0.9);
  z-index: 10;
}

.gauche2 {
  transform: translate(20%, -49%) rotateZ(15deg) scale(0.8);
  z-index: 5;
}

.gauche3 {
  transform: translate(50%, -45%) rotateZ(25deg) scale(0.7);
  z-index: 3;
}

.gauche4 {
  transform: translate(80%, -38%) rotateZ(31deg) scale(0.6);
  z-index: 1;
}

.point {
  position: absolute;
  width: 12vw;
  height: 10vh;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.po {
  width: 1vw;
  height: 1vw;
  border-radius: 100%;
  background-color: salmon;
  transition: 500ms;
}

.grand {
  scale: 2;
}
